---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Profiles from "../components/Profiles.astro";
import Capabilities from "../components/Capabilities.astro";
import Widget from "../components/Widget.astro";
import Offer from "../components/Offer.astro";
import Changelog from "../components/Changelog.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Profiles />
    <Capabilities />
    <Widget />
    <Offer />
    <Changelog />
  </main>
  <Footer />
</Layout>
